.docs-sidebar
	position: sticky
	height: auto
	scroll-behavior: smooth
	padding-top: 2rem
	padding-right: 4vmin

.docs-sidebar-category-item
	display: flex
	justify-content: space-between

	&:nth-child(1) .docs-sidebar-category-icon
		background-color: #fe5f55

	&:nth-child(2) .docs-sidebar-category-icon
		background-color: #9333ea

.docs-sidebar-category-icon
	width: 2rem
	height: 2rem
	border-radius: 0.45rem
	display: inline-flex
	align-items: center
	justify-content: center
	margin-right: 0.5rem

	svg
		width: 1.25rem
		height: 1.25rem
		stroke: white
		stroke-width: 2px

.docs-sidebar-category-draft
	text-transform: uppercase
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem
	font-weight: 600
	color: $gray-70
	background-color: $gray-90
	border-radius: 2rem

.docs-sidebar-category
	margin-bottom: 2rem

	a
		display: flex
		align-items: center
		margin-bottom: 0.75rem

		&:last-child
			margin-bottom: 0

		p
			color: $gray-70

	.active
		p
			font-weight: 500
			color: black

.docs-sidebar-section
	margin-bottom: 1.5rem

	h5
		margin: 0 0 .5rem
		text-transform: uppercase
		font-size: 0.875rem
		font-weight: 600
		letter-spacing: .5px
		color: $text

	a
		display: block
		padding: .5rem .5rem
		color: $gray-70
		line-height: 1.3em
		border-radius: 5px
		text-decoration: none

		&:hover
			color: $gray-60

	.active--exact
		color: $brand-color

		&:hover
			color: $brand-color

@media screen and (max-width:  992px)
	.docs-sidebar
		display: none
