.products
	display: grid
	display: grid
	grid-template-columns: repeat(auto-fill,  minmax(18rem, 1fr))
	grid-column-gap: 1.5rem
	grid-row-gap: 1.5rem
	margin-top: 1rem
	margin-bottom: 1rem

.product
	border: 1px solid $gray-90
	border-radius: $border-radius
	padding: 1rem 1.5rem
	text-decoration: none
	text-align: center

	h3
		margin-top: 1rem
		margin-bottom: 0.5rem
		color: $text

	p
		font-size: 0.875rem
		color: $gray-60
		margin-bottom: 0

	img
		max-width: 4rem
		max-height: 4rem
		width: 100%
