header
	padding: 1rem 0

.header__wrapper, .header__navbar, .navbar, .header__logo
	display: flex
	align-items: center

.header__logo
	margin-right: 1.5rem

.navbar__list
	display: flex

.navbar__item
	color: $brand-color
	font-weight: 500
	margin-right: 0.875rem
	cursor: pointer
	text-decoration: none

	&:last-child
		margin-right: 0

.header__action
	margin-left: auto

@media (max-width: 768px)
	.navbar
		display: none
