openapi: 3.1.0
info:
  title: LogChimp API
  version: 1.0.0
  description: |
    Minimal example OpenAPI definition for LogChimp. Replace with the real spec when available.
servers:
  - url: https://api.logchimp.com
    description: Production API
  - url: http://localhost:8000
    description: Local development
tags:
  - name: Health
    description: Service health endpoints
  - name: Posts
    description: Endpoints related to posts
paths:
  /health:
    get:
      summary: Health check
      description: Returns the health status of the service.
      tags:
        - Health
      operationId: getHealth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                    example: ok
  /posts:
    get:
      summary: List posts
      tags:
        - Posts
      operationId: listPosts
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items to return
      responses:
        '200':
          description: A list of posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
components:
  schemas:
    Post:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 'c2a6763e-7d1b-4b85-9b12-2a1f7f4fd6dd'
        title:
          type: string
          example: 'First post'
        body:
          type: string
          example: 'Hello, world!'
        createdAt:
          type: string
          format: date-time
          example: '2025-01-01T12:34:56Z'
